* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.link {
    text-decoration: none;
    color: black;
}

.formularios {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    box-shadow: 1px 1px 10px black;
    background-color: #6499e95a;
}

.titulo {
    text-decoration: none;
}

.botao {
    border-radius: 10px;
    padding: 3px;
    background-color: rgba(250, 235, 215, 0.589);
}

.feedback {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6499e95a;
    box-shadow: 1px 1px 10px black;
}

.feedback_alerta {
    width: 20vw;
    display: flex;
    justify-content: center;
    text-align: center;
}



.botao {
    margin: 2px;
}


.feedback_imagem {
    width: 100%;
}


@media (max-width: 57.7em) {

    body {
        display: flex;
        align-items: center;
    }

    main {
        flex-direction: column;
        width: 90vw;
    }

    .feedback {
        align-items: center;
    }


    .feedback_imagem {
        width: 25vw;
    }

    textarea {
        width: 250px;
    }
    
}