* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transition: background 0.2s linear;
}

body.dark {
    background: #232c35;
}

.cabecalho_botao {
    padding: 10px;
    align-items: center;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: black;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(1.5);
}

.label .ball {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.cabecalho,
.rodape {
    width: 100vw;
    padding: 5px;
    text-align: center;
    background-color: #6499e95a;
    border: 1px solid black;
}

main {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.link {
    text-decoration: none;
    color: black;
}

.formularios {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    box-shadow: 1px 1px 10px black;
    background-color: #6499e95a;
}

.titulo {
    text-decoration: none;
}

.botao {
    border-radius: 10px;
    padding: 3px;
    background-color: rgba(250, 235, 215, 0.589);
}

.feedback {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6499e95a;
    box-shadow: 1px 1px 10px black;
}

.feedback_alerta {
    width: 20vw;
    display: flex;
    justify-content: center;
    text-align: center;
}



.botao {
    margin: 2px;
}


.feedback_imagem {
    width: 100%;
}

.link {
    text-decoration: none;
    font-weight: 700;
}

.link:hover {
    color: grey;
}


@media (max-width: 57.7em) {

    main {
        flex-direction: column;
        width: 90vw;
    }

    .cabecalho,
    .rodape {
        width: 100vw;
        padding: 5px;
        text-align: center;
        background-color: #6499e95a;
        border: 1px solid black;
    }

    .feedback {
        align-items: center;
    }


    .feedback_imagem {
        width: 25vw;
    }

    textarea {
        width: 250px;
    }

}